body{
    background-image: url("../../Dokumente/Dokumentation/Zeichnungen/SVG's/Computeransicht2_Weiß.svg"), url("../IMG/SeminarRaumHandyVersionBeamer.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 70%, 100%;
    background-position-x: center;
//margin-top: -2%;
//background-size: contain;
}



h1{
    position: relative;
    text-align:center;
    z-index: 3;
    font-size: 4.8vw;
    margin-top: 3%;
}

#outer-box {
    width: 63%;
    height: 38vw;
    margin-left: 19%;
    margin-top: -3%;
}

/*
#targetBox{
    width: 99%;
    height: 81.4%;
    display: flex;
    flex-wrap: wrap;
}

.target{
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #2CC3B5;
    border-radius: 5px;
    border: 1px #000000 solid;
    z-index: -1;
}
*/

#targetBox{
    width: 99%;
    height: 81.4%;
    display: flex;
    flex-wrap: wrap;
    border-spacing: 0px;
    justify-content: center;
}

.target{
    height: 6vw;
    width: 6vw;
    background-color: #80ba24;
    border: 1px #000000 solid;
    z-index: -1;
    margin: 0;
    padding: 0;
}

#dragBox{
    display: flex;
    flex-wrap: wrap;
}

.draggable {
    height: 6vw;
    margin: 2px;
    cursor: move;
    background-color: #302a38;
    //background-image: url(../IMG/pexels-cottonbro-studio-5657727.jpg);
    //background-size:  contain;
    //background-repeat: no-repeat;
    position: relative;
    text-align: center;
}



.img{
    max-width: 100%;
    max-height: 100%;
}


#text{
    visibility: hidden;
    position: relative;
//width: 100%;
//height: 30%;
//text-align:center;
//z-index: 3;
    font-size: 2vw;
    margin: -5% 1%;
}


#info{
    position: absolute;
    width: 20%;
    height: 31vw;
    z-index: 4;
    color:white;
    background: rgba(0, 0, 0, .25);
    font-size: 2vw;
    margin: 1% 0% 0% 0%;
    text-decoration: underline;
    border: 1px #000000 solid;
}

.infoText{
    position: absolute;
    font-size: 1.5vw;
//background-color: rgba(0, 0, 0, .25);
    margin: 0% 0% 0% 0%;
    top: 2vw;
}

#info1{
    visibility: visible;
}

#info2{
    visibility: hidden;
}


#infoButton{
    position: absolute;
    font-family: Arial;
    background-color: rgba(0, 0, 0, .1);
    z-index: 5;
    margin-top:132%;
    margin-left: 15%;
}

.dragText{
    font-size: 1.2vw;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-wrap: break-word;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

@media(orientation: portrait){
    body{
        background-image: url("../../Dokumente/Dokumentation/Zeichnungen/SVG's/Computeransicht2_Weiß.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        height: 100%;
        width: 100%;
    }


    h1{
        position: relative;
        text-align:center;
        z-index: 3;
        font-size: 7vw;
        margin-top: 3%;
    }

    #outer-box {
        width: 100%;
        height: 200vw;
        margin-left: 2%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

    #dragBox{
        display: flex;
        width: 97%;
        margin-left: 0%;
        margin-top: -4%;
        flex-wrap: wrap;
    }

    .draggable {
        height: 17vw;
        margin: 2px;
        cursor: move;
        background-color: #302a38;
    //background-image: url(../IMG/pexels-cottonbro-studio-5657727.jpg);
    //background-size:  contain;
    //background-repeat: no-repeat;
        position: relative;
        text-align: center;
    }

    #targetBox{
        width: 99%;
        height: 81.4%;
        margin-top: 1%;
        display: flex;
        flex-wrap: wrap;
        border-spacing: 0px;
        justify-content: center;
    }

    .target{
        height: 17vw;
        width: 17vw;
        background-color: #80ba24;
        border: 1px #000000 solid;
        z-index: -1;
        margin: 0;
        padding: 0;
    }

    .dragText{
        font-size: 4vw;
        color: white;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-wrap: break-word;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
    }
    #info{
        position: absolute;
        width: 99%;
        height: 44.5vw;
        z-index: 4;
        color:white;
        background: rgba(0, 0, 0, .25);
        font-size: 6vw;
        margin: 155% 0% 0% 0%;
        text-decoration: underline;
        border: 1px #000000 solid;
    }

    .infoText{
        position: absolute;
        font-size: 3.7vw;
    //background-color: rgba(0, 0, 0, .25);
        margin: 5% 0% 0% 0%;
        top: 2vw;
    }


    #infoButton{
        position: absolute;
        font-family: Arial;
        background-color: rgba(0, 0, 0, .1);
        z-index: 5;
        margin-top:37%;
        margin-left: 29%;
    }
}